<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEND MSG</title>
</head>

<body>
    <form action="/whatsapp" method="POST">



        <div>
            <label for="Username">Username</label>
            <input type="text" value="Vee" name="Username">
        </div>
        <br>
        <div>
            <label for="Phone">Phone</label>
            <input value="254745682815" type="text" name="Phone">
        </div>
        <br>
        <div>
            <label for="Invoice">Invoice</label>
            <input value="https://davee.co.ke/Kiprono%20Davies%20CV.pdf" type="text" name="Invoice">
        </div>
        <br>

        <div>
            <label for="doc_name">File Name</label>
            <input value="Invoice-20-06-2022" type="text" name="FileName">
        </div>
        <br>


        <div>
            <button type="submit">SUBMIT</button>
        </div>
    </form>

</body>

</html>